
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div ng-app="App" ng-controller="FileController" ng-init="getFiles('TestCompany1', 'TestDepartment1')">

    @using (Html.BeginForm("Upload", "File", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="file" multiple />
        <input type="submit" name="Submit" id="Submit" value="Upload" />
    }

    <button ng-click="getFiles('TestCompany1','TestDepartment1')">Test</button>

    <div ng-repeat="item in allFiles track by $index"><button ng-click="ViewFile(item)">{{getFileName(item)}}</button></div>
</div>

